# Frontend environment variables
# KHÔNG commit file này

NEXT_PUBLIC_GOOGLE_CLIENT_ID=REPLACE_WITH_GOOGLE_OAUTH_CLIENT_ID
NEXT_PUBLIC_ONEREALM_PACKAGE_ID=0x9348d3e1e8fb08948bf9d31c1ee4bd7fc93526e4f0150866a14c240ed515ce26
NEXT_PUBLIC_GAME_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_CHAIN_FLAVOR=onechain
NEXT_PUBLIC_CHAIN_NETWORK=testnet
NEXT_PUBLIC_CHAIN_RPC_URL=https://rpc-testnet.onelabs.cc:443
NEXT_PUBLIC_CHAIN_LABEL=OneChain Testnet
NEXT_PUBLIC_DOCS_URL=https://docs.onelabs.cc/DevelopmentDocument
NEXT_PUBLIC_ONEBOX_URL=https://onebox.onelabs.cc/chat
NEXT_PUBLIC_ONEPLAY_URL=https://hash.one-play.cc
NEXT_PUBLIC_ONEPREDICT_URL=https://onepredict.cc
NEXT_PUBLIC_SPONSOR_ADDRESS=0x98dc92e59a4988b86a987b9b336004beb3f314b2a7fe243f31b45a1344879ad8
NEXT_PUBLIC_JUDGE_MODE=true
